.list-group {
    min-height:110px;
}
.list-group-item {
	position: relative;
	display: block;
	padding: .75rem 1.25rem;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
}
.tinted {
	background-color: #fff6b2;
}
.blue-background-class {
	background-color: #C8EBFB;
}
.handle {
	cursor: move;
}
.timer {
	cursor: progress;
}
